.grid {
  display: inline-grid;
  border: 1px dashed black;
  grid-template-rows: repeat(var(--row), var(--size));
  grid-template-columns: repeat(var(--column), var(--size));
}

.pixel {
  background-color: var(--color);
  border: .1px dashed grey;
  box-sizing: border-box;
}

.item::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--item-color);
  margin-right: 4px;
}

.current-color::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--item-color);
  margin-right: 4px;
}
