highlight-color = #5CADC7
secondary-color = #1B6D87
palet-highlight-color = #3D3D3D
palet-secondary-color = #393B3C
palet-text-color = #FFFFFF
bg-color = #ECF6F9
text-color = #000000
list-color-item = #555555
list-color-secondary-item = #7b7b7b
btn-remove = #430C15
