extends ./layouts/default.pug

block content
  aside.aside
    h2.aside__title Palette

    div.aside__newcolor
      div.aside__selectcolor
        label.label__color(for="inputColor") Color:
        input#inputColor.input__color(type="color")
      div.aside__namecolor
        label.label__namecolor(for="inputNameColor") Name color:
        input#inputNameColor.input__namecolor(type="text")
      button#addColor.aside__addcolor Add color

    div.aside__listColor
      ul#listColor.listColor

  div.conteudo
    div.conteudo__actions
      div.currentColor
        span#currentColor.currentColorName Current color

      div.actions
        div#clear.actions__clear
          include ./icons/eraser.html
          span.actions__clear__name Clear

        div.container__settings
          div#settings.actions__settings
            include ./icons/settings.html
            span.actions__settings__name Settings

          div#modalSettings.settings
            div.settings__size
              label(for="size") Size
              input(type="number", value="20")#size
            div.settings__rows
              label(for="rows") Rows
              input(type="number", value="10")#rows
            div.settings__columns
              label(for="columns") Columns
              input(type="number", value="10")#columns
            div.settings__actions
              button#cancelSettings.cancel__settings Cancel
              button#saveSettings.save__settings Save

    div.conteudo__grid
      div#grid.grid
      button#generateCode.grid__generateCode Generate my code

    div.conteudo__codes
      div.code__html
        span HTML
        textarea#codeHtml.code__textarea(name="codeHtml", readonly)
        button#copyHTML.code__copy
          include ./icons/file_copy.html
          span Copy to clipboard

      div.code__css
        span CSS
        textarea#codeCss.code__textarea(name="codeCss", readonly)
        button#copyCSS.code__copy
          include ./icons/file_copy.html
          span Copy to clipboard
