doctype html
html(lang="en")
  head
    //- Metas
    meta(name="viewport" content="width=device-width, minimun-scale=1.0")
    meta(charset="utf-8")

    - var title = "Pixel draw"

    //- link(rel="shortcut icon" href="favicon.png")

    //- SEO
    title=title

    //- Styles
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="assets/styles/style.css")

    //- Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400")

  body
  
    include ./../partials/header.pug

    main.main
      block content
    
    include ./../partials/footer.pug

    script(type="text/javascript" src="assets/scripts/script.js" async)
